.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 240, 240);
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.youtube-logo{
  height: 20px;
  cursor: pointer;
}

.middle-section{
  flex: 1;
  margin-left: 125px;
  margin-right: 35px;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.search{
  flex: 1;
  height: 36px;
  padding-left: 14px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button{
  height: 39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  
  margin-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.search-button:hover{
  background-color: rgb(230, 230, 230);
}

.search-button, .microphone-button, .right-section .tooltip-container, .right-section .notification-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip, .microphone-button .tooltip, .tooltip-container .tooltip, .notification-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  bottom: -45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip, .microphone-button:hover .tooltip, .tooltip-container:hover .tooltip, .notification-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
  margin-top: 4px;
}


.microphone-button{
  height: 39px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rbg(248, 248, 248);
  cursor: pointer;
}

.microphone-icon{
  margin-top: 2px;
  height: 24px;
}

.right-section{
  width: 220px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.notification-container{
  display: flex;
  position: relative;
}

.notification-count{
  position: absolute;
  background-color: rgb(200, 0, 0);
  font-family: Roboto, Arial;
  font-size: 10px;
  padding-left: 4.75px;
  padding-right: 4.75px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  color: white;
  top: -3px;
  right: -4px;
  
}

.upload{
  height: 24px;
  cursor: pointer;
}

.youtube-apps{
  height: 24px;
  cursor: pointer;
}

.notification{
  height: 24px;
  cursor: pointer;
}

.profile-picture{
  height: 32px;
  border-radius: 16px;
  margin-right: 30px;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  left: 0;
  width: 80px;
  top: 56px;
  bottom: 0;
}

.sidebar-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 74px;
}

.sidebar-link:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.sidebar-link img{
  height: 25px;
}

.sidebar-link div{
  flex-direction: column;
  font-family: Roboto, Arial;
  font-size: 10px;
}

.thumbnail-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
}

.thumbnail-image{
  width: 100%;
  cursor: pointer;
  position: relative;
}

.video-length{
  position: absolute;
  right: 8px;
  bottom: 13px;
  color: white;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px
}

.video-description{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}

.video-profile-picture{
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.video-name{
  margin-top: 0px;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.video-stats{
  margin-bottom: 4px;
  margin-top: 4px;
  font-family: Robot, Arial;
  font-size: 12px;
  color: rgb(96, 96, 96);
}
